Find the articles that are strongest on a specific topic, so we can check what they are like (helps to understand VAR IRFs).

In [1]:
import os
import pandas as pd
path_to_file = os.getcwd().replace('\\analysis\\analysis_topics', '') + '\\finance data'
data_daily = pd.read_csv(path_to_file + '\\articles_daily_ts.csv', encoding = 'utf-8-sig', sep=';')

In [2]:
data_daily = data_daily.rename(columns = {"dates": "dates_day"})

articles=data_daily
articles.head()

,texts,titles,dates_day,year,month,day
0,Chilean salmon prices see a lift in week 1. Pr...,Chilean salmon prices see a lift in week 1.,2016-01-13,2016,1,13
1,Nasdaq salmon price index up 48% over past thr...,Nasdaq salmon price index up 48% over past thr...,2016-01-13,2016,1,13
2,Great time to be in the seafood industry. Nati...,Great time to be in the seafood industry.,2016-01-18,2016,1,18
3,Fresh = healthy. Fresh translates to healthy i...,Fresh = healthy.,2016-01-18,2016,1,18
4,Shrimp to get social media revamp. The NFI Shr...,Shrimp to get social media revamp.,2016-01-18,2016,1,18

In [3]:
topic = 'T61'

topics = pd.read_csv('article_topic.csv', usecols = ['titles', 'dates_day',topic])
topics.sort_values(topic, ascending=False, inplace=True)
topics.head(10)

                                                 titles   dates_day       T61
4868  Nearly all farmed salmon in Chile's mass die-o...  2021-04-13  0.460156
4847  Chile's Aysen region hit by new algal bloom, l...  2021-04-06  0.396843
4859  Analyst: Chile's algal bloom die-offs could gi...  2021-04-09  0.387465
4863  Chile's algal bloom losses pass 5,000 tons as ...  2021-04-12  0.384309
4911  Operation to clean up mass farmed salmon die-o...  2021-04-23  0.381445
4854  Chile farmed salmon losses mounting quickly fr...  2021-04-08  0.367188
4844  Camanchaca algal bloom losses climb to 1.3 mil...  2021-04-06  0.353587
4781  Salmones Camanchaca CEO: New algal blooms are ...  2021-03-16  0.343497
5321  UPDATE: Salmon farming giant Mowi estimates ha...  2021-09-21  0.338872
4895  Chilean salmon farmer Camanchaca struck with $...  2021-04-19  0.337908

In [4]:
print(f'top articles for topic {topic}: \n')
for i in range(2):
    print(i, articles.loc[topics.index[i]]['texts'], '\n')

top articles for topic T61:

0 Nearly all farmed salmon in Chile's mass die-offs removed from production sites. Low oxygen levels and blooms in the Los Lagos and Aysen regions have caused losses equivalent to 3.5% of the total active biomass in affected areas. " Around 95 percent of the dead salmon linked to mass die-offs in Chile's Aysen and Los Lagos regions have been removed from production sites, National Fisheries and Aquaculture Service (Sernapesca) said in a Tuesday update. As removal efforts continue, 5,384 of  of dead salmon have so far been removed, according to the agency. Low oxygen levels and blooms in the two regions have caused losses equivalent to 3.5 percent of the total active biomass in the affected areas. By Tuesday, 14 farms maintained active contingency action plans against mass mortalities, six in Los Lagos and eight in Aysen, with  of mortalities in Los Lagos, equivalent to 13 percent of the active biomass, and  in Aysen, corresponding to 2 percent. In the Aysen region, four production sites were able to remove high-alert contingency procedures and four others decreased their mortality to low levels and will be able to end their contingency procedures when environmental conditions allow. In Los Lagos, Salmones Camanchaca has borne the brunt of the outbreak. Chile's transition from summer to autumn at this time of year typically brings a higher risk of algal blooms and lower oxygen levels as higher water temperatures combine with increased precipitation to raise nutrient levels in the sea. Algae can cause oxygen levels in the water to be lower. It can settle on the gills of the fish, making it even more difficult for them to absorb oxygen. "

1 Chile's Aysen region hit by new algal bloom, low oxygen levels. Sernapesca's regional director reports a total  of dead fish have been declared so far. " Salmon production sites operated by Cooke Aquaculture, Mowi, Aquachile, Yadran, Multiexport and Granja Marina Tornagaleones in Chile's Aysen region have been hit by either low oxygen levels or harmful algal blooms (HAB), fisheries and aquaculture service Sernapesca reported. Sernapesca's regional director reports a total  of dead fish have been declared so far, of which  have been removed through the deployment of fishing boats and barges. In an update, Cooke Aquaculture said although it has implemented a contingency plan for low oxygen levels that are affecting its site in the Cupquelan Fjord it has not been affected by any algae issues. Sernapesca, together with the Maritime Authority will oversee the execution of action plans until the final disposal of the dead salmon. In addition, it will carry out surveillance of the area through satellite monitoring and information sharing to track environmental changes that could modify the current conditions of the affected areas. Sernapesca is also monitoring events in the Los Lagos region after algal bloom activity affected production at Salmones Camanchaca sites. Chilean salmon farming group Salmones Camanchaca has updated its losses from an algal bloom event that hit some of its farms in the Comau fjord of the Los Lagos region last week . The company said in a statement to the Santiago Stock Exchange on April 4, the algal bloom had so far resulted in a cumulative mortality of 1.3 million fish, the equivalent to  of biomass, with weights between 450 grams and 2.5 kilograms depending on the farm affected, and 1.2 kilograms on average. This mortality corresponds to 11 percent of the company's total fish and is expected to have a direct financial loss of, said Camanchaca. Camanchaca also said it expects separate mass mortality incidents at two production sites at the Rinihue Fjiord in the Los Lagos region will cost the company approximately and 2 percent of its fish. "