## Find competitors

Notebook to work out a function that finds articles about competitors

In [1]:
import os
import pandas as pd
import numpy as np
path_to_file = os.getcwd().replace('\\analysis', '') + '\\finance data'
data_daily = pd.read_csv(path_to_file + '\\articles_daily_ts.csv', encoding = 'utf-8-sig', sep=';')

In [2]:
data_daily = data_daily.rename(columns = {"dates": "dates_day"})

data=data_daily
data.head()

,texts,titles,dates_day,year,month,day
0,Chilean salmon prices see a lift in week 1. Pr...,Chilean salmon prices see a lift in week 1.,2016-01-13,2016,1,13
1,Nasdaq salmon price index up 48% over past thr...,Nasdaq salmon price index up 48% over past thr...,2016-01-13,2016,1,13
2,Great time to be in the seafood industry. Nati...,Great time to be in the seafood industry.,2016-01-18,2016,1,18
3,Fresh = healthy. Fresh translates to healthy i...,Fresh = healthy.,2016-01-18,2016,1,18
4,Shrimp to get social media revamp. The NFI Shr...,Shrimp to get social media revamp.,2016-01-18,2016,1,18

In [3]:
data['texts_old'] = data['texts'].copy()

In [4]:
# list of competitor firms
competitors = [
    'tassal',
    'camanchaca',
    'cooke',
    'thai union',
    'scottish salmon company',
    'nz king',
    'nissui',
    'trident',
    "young's seafood",
    'mariner seafood',
    'australis',
    'blumar',
    'marine farm ',
    'cermaq',
    'multiexport',
    'multi x',
    'yadran',
    'salmones austral',
    'ventisqueros',
    'salmonchile',
    'russian aquaculture',
    'nordic aquafarms',
    'kvaroy arctic',
    'maruha'
]

In [5]:
# list of the firms in our index
our_firms = [
    'mowi',
    'marine harvest',
    'bakkafrost',
    'salmar',
    'grieg',
    'leroy'
]

In [6]:
# remove all capitalisation from the texts
for i, text in enumerate(data['texts']):
    data.at[i, 'texts'] = text.lower()

In [7]:
# number of appearances of each competitor
apprcs = {competitor: len(data[data['texts'].str.contains(competitors[i])]) for i, competitor in enumerate(competitors)}
print("Total (not subtracting overlaps): ", sum([v for k,v in apprcs.items()]))
apprcs

Total (not subtracting overlaps):  2140

{'tassal': 83,
 'camanchaca': 272,
 'cooke': 283,
 'thai union': 77,
 'scottish salmon company': 106,
 'nz king': 35,
 'nissui': 42,
 'trident': 65,
 "young's seafood": 27,
 'mariner seafood': 3,
 'australis': 112,
 'blumar': 145,
 'marine farm ': 7,
 'cermaq': 301,
 'multiexport': 123,
 'multi x': 20,
 'yadran': 33,
 'salmones austral': 51,
 'ventisqueros': 58,
 'salmonchile': 86,
 'russian aquaculture': 36,
 'nordic aquafarms': 88,
 'kvaroy arctic': 21,
 'maruha': 66}

In [8]:
# number of appearances of firms in our index
ourapps = {firm: len(data[data['texts'].str.contains(our_firms[i])]) for i, firm in enumerate(our_firms)}
print("Total (not subtracting overlaps): ", sum([v for k,v in ourapps.items()]))
ourapps

Total (not subtracting overlaps):  2232

{'mowi': 637,
 'marine harvest': 293,
 'bakkafrost': 238,
 'salmar': 364,
 'grieg': 373,
 'leroy': 327}

In [9]:
# use with either list of competitors or our firms
def firms_in_article(firm_list, article):
    for firm in firm_list:
        if firm in article: return True
    return False

In [10]:
# columns to indicate that competitor firms or index firms (our firms) appeared in article
data['competitors'] = 0
data['indexfirms'] = 0
data.head()

,texts,titles,dates_day,year,month,day,texts_old,competitors,indexfirms
0,chilean salmon prices see a lift in week 1. pr...,Chilean salmon prices see a lift in week 1.,2016-01-13,2016,1,13,Chilean salmon prices see a lift in week 1. Pr...,0,0
1,nasdaq salmon price index up 48% over past thr...,Nasdaq salmon price index up 48% over past thr...,2016-01-13,2016,1,13,Nasdaq salmon price index up 48% over past thr...,0,0
2,great time to be in the seafood industry. nati...,Great time to be in the seafood industry.,2016-01-18,2016,1,18,Great time to be in the seafood industry. Nati...,0,0
3,fresh = healthy. fresh translates to healthy i...,Fresh = healthy.,2016-01-18,2016,1,18,Fresh = healthy. Fresh translates to healthy i...,0,0
4,shrimp to get social media revamp. the nfi shr...,Shrimp to get social media revamp.,2016-01-18,2016,1,18,Shrimp to get social media revamp. The NFI Shr...,0,0

In [11]:
for i in data.index:
    # ONLY competitors, but none of the firms in our index
    if firms_in_article(competitors, data.at[i, 'texts']) and not firms_in_article(our_firms, data.at[i, 'texts']):
        data.loc[i, 'competitors'] = 1
    # vice versa
    if firms_in_article(our_firms, data.at[i, 'texts']) and not firms_in_article(competitors, data.at[i, 'texts']):
        data.loc[i, 'indexfirms'] = 1

In [12]:
print('no. articles with only competitors: ', len(data[data['competitors']==1]))
print('no. articles with only our firms: ', len(data[data['indexfirms']==1]))

no. articles with only competitors:  1133
no. articles with only our firms:  1112

In [13]:
# check some articles to verify
data[data['indexfirms'] == 1].iloc[367]['texts']

'bakkafrost q1 mixed despite stronger prices, volume. faroese group finds high prices are a double-edged sword. " faroese salmon farmer and feed producer bakkafrost on monday announced weaker first quarter results as the company\'s farming and value-added processing operations underperformed. on the quarter, bakkafrost reported earnings before interest and taxation (ebit) of, flat against the same period last year. margins, however, slipped to 27.8 percent for the group, down from 31.5 percent in the same quarter of 2018. revenues rose sharply, thanks to stronger prices and volumes, to, up 13 percent from last year. the company cited 12 percent higher prices compared with the fourth quarter of 2018. costco restructures massive smoked salmon contractrevenue from farming operations grew to in the first quarter, primarily from higher volume. earnings, meanwhile, rose slightly to. farming margins were at  on the quarter, down from nok 24.15 per kg the year prior. harvest volumes rose 12 percent in the first quarter, with average weights rising to 5.2 kg hog, up 0.5 kg from last year. bakkafrost transferred 1.7 million smolts in the first quarter, down by nearly half the release in the first quarter last year. the company is projecting overall harvest volumes to  for 2019. revenue for the group\'s value added processing (vap) operations nearly tripled on the quarter. though vap operations were in the black -- a strong turnaround from last year\'s loss -- the margins were meager at nok 0.37/kg. the volumes used in vap operations climbed sharply, from 17 percent to 34 percent. the company\'s feed operations saw earnings before interest, taxation, depreciation and amortization (ebita) slide to, and revenues fell to, despite higher volumes of feed sold. "'

In [14]:
del data['texts']
data = data.rename(columns={'texts_old': 'texts'})
data.head()

,titles,dates_day,year,month,day,texts,competitors,indexfirms
0,Chilean salmon prices see a lift in week 1.,2016-01-13,2016,1,13,Chilean salmon prices see a lift in week 1. Pr...,0,0
1,Nasdaq salmon price index up 48% over past thr...,2016-01-13,2016,1,13,Nasdaq salmon price index up 48% over past thr...,0,0
2,Great time to be in the seafood industry.,2016-01-18,2016,1,18,Great time to be in the seafood industry. Nati...,0,0
3,Fresh = healthy.,2016-01-18,2016,1,18,Fresh = healthy. Fresh translates to healthy i...,0,0
4,Shrimp to get social media revamp.,2016-01-18,2016,1,18,Shrimp to get social media revamp. The NFI Shr...,0,0

In [15]:
data.to_csv('data_comp.csv', encoding = 'utf-8-sig', sep=';', index = False)